.Rproj.user
.Rhistory
.RData
.Ruserdata

test*.R
# remove downloadable dataset
data/ADMIN*
data/rpg*
data/Classif*
data/BDCARTO*
data/VPP*

# or derived data
data/OSO*
data/Communes*
data/ZOOM*

/.quarto/
